<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-success" [routerLink]="['new']">New Recipe</a>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <rb-recipe-item *ngFor="let recipe of recipes; let i = index" [recipe]="recipe" [recipeId] = "i" ></rb-recipe-item>
    </ul>
  </div>
</div>
