<div class="row">
  <div class="col-xs-12">
    <rb-shopping-list-add [item]="selectedItem" (cleared)="onCleared()"></rb-shopping-list-add>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" style="cursor: pointer" *ngFor="let item of items" (click)="onSelect(item)">
        <!--{{item.name}} ({{item.amount}})-->
        <span class="badge">{{item.amount}}</span> {{item.name}}
      </li>

    </ul>
  </div>

</div>
